<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <h1>Who am I?</h1>
      <p>My name is Daniel Gray.</p>
      <p>I am a {{ getAge() }} year old native Washingtonian and Seattleite, husband, father, and cat-dad. 
        I grew up in Seattle's Rainier Valley and
        attended Garfield High School, but spent my senior year in Indianapolis. I returned to the
        Evergreen State to get my BS in Computer Science, meeting my wonderful
        wife Alyssa along the way. We've since settled in Everett, WA.</p>

      <h2>Professional</h2>
      <p>I'm working as a Senior Software Engineer for Astronics AES. At AES I work on a huge veriety of projects, 
        from full stack web-dev to embedded programming. For a more in-depth breakdown see 
        <a href="https://www.linkedin.com/in/danieldgray/">my Linkedin</a>.</p>
      <h2>Personal</h2>
      <p>I dabble in so many hobbies that I can hardly devote deserving time to any of them. Here are a few:</p>
      <h4>Hiking/Backpacking/Videos</h4>
      <p>I run a very small <a href="https://www.youtube.com/@daniel_gray/featured">Youtube channel</a>, primarily
        containing films of my hiking and backpacking adventures. Want to see a filmmaker grow in skill and style 
        over the course of a few hours? Start at the beginning of my video library and work your way to the modern videos.</p>
      <h4>Tinkering</h4>
      <p>This is a catch-all my variety of independent projects. Rarely do I work purely in the 
        software realm on my own time. I love to combine software, hardware, and 3D printing to create 
        majestic (or monstrous) contraptions.</p>
      <h4>Ultimate</h4>
      <p>I've been an Ultimate Frisbee player since the 6th grade and it's always brought me a great deal of joy.
        Currently I play in the <a href="https://www.discnw.org/leagues">DiscNW mixed team league</a> as well as 
        playing pick-up in the Everett area several days a week.
      </p>
    </div>
  </div>
</div>
