<div class="row" *ngIf="loading">
  <div class="col-12 text-center">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div class="row" *ngIf="!loading">

  <div class="col-lg-8 col-md-10 mx-auto">
    <h1 [textContent]="post.title"></h1>

    <div class="row" *ngIf="photos.length >= 1">
      <app-photo [photo]="photos[0]"></app-photo>
    </div>

    <h5 class="post-content" [innerHTML]="post.content"></h5>

    <div class="row" *ngIf="photos.length >= 2">
        <app-photo *ngFor="let photo of photos | slice:1" [photo]="photo"></app-photo>
    </div>

    <p style="color: grey; text-align: center;" class="post-meta"><i>Posted by </i>
      <i><a href="#" style="color: grey; text-decoration: none;" [textContent]="post.author"></a></i>
    </p>
  </div>
  <!-- Pager -->
</div>
